workflows-n8n/s1-centralizador-logs.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"logs/registrar","responseMode":"responseNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-480,0],"id":"a1000001-0001-4000-8000-000000000001","name":"Webhook Logs","webhookId":"a1000001-wh01-4000-8000-000000000001"},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"correlationId","value":"={{ $json.body.correlationId || '' }}","type":"string"},{"id":"e2","name":"nivel","value":"={{ $json.body.nivel || '' }}","type":"string"},{"id":"e3","name":"evento","value":"={{ $json.body.evento || '' }}","type":"string"},{"id":"e4","name":"origen","value":"={{ $json.body.origen || 'desconocido' }}","type":"string"},{"id":"e5","name":"usuario","value":"={{ $json.body.usuario || 'SYSTEM' }}","type":"string"},{"id":"e6","name":"mensaje","value":"={{ $json.body.mensaje || '' }}","type":"string"},{"id":"e7","name":"datosStr","value":"={{ JSON.stringify($json.body.datos || {}) }}","type":"string"},{"id":"e8","name":"timestampFormatted","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss.SSS') }}","type":"string"},{"id":"e9","name":"operation","value":"={{ '/rvt/' + ($json.body.evento || 'unknown').toLowerCase() }}","type":"string"},{"id":"e10","name":"transactionId","value":"={{ $now.format('yyyyMMddHHmmss') }}_{{ $execution.id }}","type":"string"},{"id":"e11","name":"statusCode","value":"={{ ($json.body.nivel === 'ERROR' || $json.body.nivel === 'CRITICAL') ? '500' : '200' }}","type":"string"},{"id":"e12","name":"isValid","value":"={{ ($json.body.correlationId && $json.body.nivel && $json.body.evento) ? true : false }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,0],"id":"a1000001-0002-4000-8000-000000000002","name":"Extraer y Enriquecer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"val-1","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[0,0],"id":"a1000001-0003-4000-8000-000000000003","name":"Validar Payload"},{"parameters":{"method":"POST","url":"https://e09dnvr3h1.execute-api.us-east-1.amazonaws.com/dev/oauth2/token","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"token_type","value":"Bearer"},{"name":"scope","value":"ServerTechnicalCognito/TechnicalApiScope"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,-100],"id":"a1000001-0004-4000-8000-000000000004","name":"Obtener Token Cognito","credentials":{"httpBasicAuth":{"id":"fppQ1ZHHSN6j8sj1","name":"Centralizador de logs"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"t1","name":"access_token","value":"={{ $json.access_token }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-100],"id":"a1000001-0005-4000-8000-000000000005","name":"Set Token"},{"parameters":{"method":"PUT","url":"https://e09dnvr3h1.execute-api.us-east-1.amazonaws.com/dev/kinesisfirehose/centralizador_log_ms/record","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"channel","value":"n8n-rvt"},{"name":"channel_operation","value":"servicios-complementarios"},{"name":"enviroment_channel","value":"dev"},{"name":"consumer_ip","value":"localhost"},{"name":"transaction_ip","value":"0:0:0:0:0:0:0:1"},{"name":"invoke_date","value":"={{ $('Extraer y Enriquecer').first().json.timestampFormatted }}"},{"name":"transaction_id","value":"={{ $('Extraer y Enriquecer').first().json.transactionId }}"},{"name":"correlation_id","value":"={{ $('Extraer y Enriquecer').first().json.correlationId }}"},{"name":"operation","value":"={{ $('Extraer y Enriquecer').first().json.operation }}"},{"name":"operation_type","value":"POST"},{"name":"resource","value":"rvt-n8n-complementarios"},{"name":"enviroment_resource","value":"dev"},{"name":"request_detail","value":"={{ JSON.stringify({ nivel: $('Extraer y Enriquecer').first().json.nivel, evento: $('Extraer y Enriquecer').first().json.evento, usuario: $('Extraer y Enriquecer').first().json.usuario, mensaje: $('Extraer y Enriquecer').first().json.mensaje, origen: $('Extraer y Enriquecer').first().json.origen }) }}"},{"name":"response_detail","value":"{}"},{"name":"status_code","value":"={{ $('Extraer y Enriquecer').first().json.statusCode }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,-100],"id":"a1000001-0006-4000-8000-000000000006","name":"Enviar a Centralizador","onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"RECIBIDO\",\n  \"correlationId\": \"{{ $('Extraer y Enriquecer').first().json.correlationId }}\",\n  \"mensaje\": \"Log registrado en centralizador corporativo\",\n  \"transactionId\": \"{{ $('Extraer y Enriquecer').first().json.transactionId }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,0],"id":"a1000001-0007-4000-8000-000000000007","name":"Respuesta 200 OK"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"ERROR\",\n  \"correlationId\": null,\n  \"mensaje\": \"Payload invalido: se requieren correlationId, nivel y evento\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[0,240],"id":"a1000001-0008-4000-8000-000000000008","name":"Respuesta 400 Error"}],"connections":{"Webhook Logs":{"main":[[{"node":"Extraer y Enriquecer","type":"main","index":0}]]},"Extraer y Enriquecer":{"main":[[{"node":"Validar Payload","type":"main","index":0}]]},"Validar Payload":{"main":[[{"node":"Obtener Token Cognito","type":"main","index":0}],[{"node":"Respuesta 400 Error","type":"main","index":0}]]},"Obtener Token Cognito":{"main":[[{"node":"Set Token","type":"main","index":0}]]},"Set Token":{"main":[[{"node":"Enviar a Centralizador","type":"main","index":0}]]},"Enviar a Centralizador":{"main":[[{"node":"Respuesta 200 OK","type":"main","index":0}]]}}}
