workflows-n8n/s5-agente-ia-operadores.json
{"nodes": [{"parameters": {"promptType": "define","text": "={{ $('When chat message received').item.json.chatInput }}","options": {"systemMessage": "Eres un asistente de operaciones para el equipo de Rentas Voluntarias (RVT) de Seguros Bolivar.\n\nReglas:\n- Responde siempre en español.\n- Se conciso y directo. Los operadores necesitan datos, no explicaciones largas.\n- Presenta informacion en formato estructurado.\n- Si no tienes suficiente informacion, pide los datos faltantes.\n- Nunca inventes datos. Si un tool no retorna resultados, dilo.\n- Enmascara documentos: muestra solo ultimos 4 digitos (****5678).\n- Solo consultas (GET). No ejecutes escrituras directas.\n- Si piden generar certificado, usa el tool generar_certificado.\n\nConsulta la TOOL de Consumos GET. Construye la URL completa segun lo que necesites consultar. La base es http://10.111.16.80:8080/rvt/api/v1\n\nEndpoints disponibles:\n- GET /polizas/consultar/{numeroPoliza} - Estado y datos de una poliza\n- GET /beneficiarios/poliza/{numeroPoliza} - Beneficiarios de una poliza\n- GET /clientes/buscar?nombre={nombre} - Buscar clientes por nombre\n- GET /clientes/buscar?numeroId={documento} - Buscar clientes por documento\n- GET /clientes/{clienteId} - Detalle de un cliente por ID\n- GET /parametros - Parametros del ramo RV\n\nSi sale algun error di que no tienes esa información y ofrece otros servicios de respuesta."}},"type": "@n8n/n8n-nodes-langchain.agent","typeVersion": 3.1,"position": [704,160],"id": "78748f94-725e-48df-9e4c-94c4c9f24ae1","name": "AI Agent"},{"parameters": {"model": {"__rl": true,"value": "gpt-4.1-mini","mode": "list","cachedResultName": "gpt-4.1-mini"},"builtInTools": {},"options": {"temperature": 0.3}},"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion": 1.3,"position": [544,384],"id": "51f945b4-3983-47bd-b572-0381e1fa5f38","name": "OpenAI Chat Model","credentials": {"openAiApi": {"id": "DfaVyMOoZzy58XaU","name": "OpenAI account"}}},{"parameters": {"method": "POST","url": "http://10.111.16.80:8080/rvt/api/v1/auth/login","sendBody": true,"specifyBody": "json","jsonBody": "{\"username\":\"ADMIN\",\"password\":\"ADMIN\"}","options": {}},"type": "n8n-nodes-base.httpRequest","typeVersion": 4.4,"position": [512,176],"id": "dcb4449e-bec4-41a6-91a7-96aee199ddea","name": "HTTP Request"},{"parameters": {"url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","sendHeaders": true,"headerParameters": {"parameters": [{"name": "Authorization","value": "=Bearer {{ $('HTTP Request').first().json.token }}"}]},"options": {"response": {"response": {"fullResponse": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Response_Headers_and_Status', ``, 'boolean') }}","neverError": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Never_Error', ``, 'boolean') }}"}}}},"type": "n8n-nodes-base.httpRequestTool","typeVersion": 4.4,"position": [864,368],"id": "447314b5-c2c3-40e8-9d92-5f7fecce0f72","name": "Consumos GET"},{"parameters": {"message": "={{ $('AI Agent').item.json.output }}","options": {}},"type": "@n8n/n8n-nodes-langchain.chat","typeVersion": 1.3,"position": [1232,160],"id": "47182112-52b3-4532-ac06-e086bcb90e93","name": "Chat","webhookId": "da845c3a-ab0a-47ca-a7da-174d0a8ff2ef"},{"parameters": {"public": true,"initialMessages": "Hola Bienvenido a Seguros Bolívar! 👋","options": {"subtitle": "Déjanos tus dudas","title": "Estamos para ayudarte👋","customCss": ":root {\n  --chat--color--primary: #00a651;\n  --chat--color--primary-shade-50: #009648;\n  --chat--color--primary--shade-100: #00863f;\n  --chat--color--secondary: #003b71;\n  --chat--color-secondary-shade-50: #002f5a;\n  --chat--color-white: #fff;\n  --chat--color-light: #e8f5e9;\n  --chat--color-light-shade-50: #c8e6c9;\n  --chat--color-light-shade-100: #a5d6a7;\n  --chat--color-medium: #81c784;\n  --chat--color-dark: #003b71;\n  --chat--color-disabled: #a5d6a7;\n  --chat--color-typing: #2e7d32;\n  --chat--header--background: #00a651;\n  --chat--header--color: #fff;\n  --chat--message--bot--background: #fff;\n  --chat--message--bot--border: 1px solid #c8e6c9;\n  --chat--message--user--background: #003b71;\n  --chat--message--user--color: #fff;\n  --chat--toggle--background: #00a651;\n  --chat--body--background: #e8f5e9;\n  --chat--footer--background: #fff;\n  --chat--button--background--primary: #00a651;\n  --chat--button--color--primary: #fff;\n  --chat--input--send--button--color: #00a651;\n}\n.chat-message { max-width: 80%; }\n","responseMode": "responseNodes"}},"type": "@n8n/n8n-nodes-langchain.chatTrigger","typeVersion": 1.4,"position": [0,0],"id": "b0d9bdc8-9e45-4562-ab48-2f8aeb66a804","name": "When chat message received","webhookId": "4b5f785c-c478-43f5-a021-26acd6d04b08"},{"parameters": {},"type": "@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion": 1.3,"position": [720,368],"id": "03c4dffa-dfc8-4889-ad82-0e7a5b15a2e8","name": "Simple Memory"}],"connections": {"AI Agent": {"main": [[{"node": "Chat","type": "main","index": 0}]]},"OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent","type": "ai_languageModel","index": 0}]]},"HTTP Request": {"main": [[{"node": "AI Agent","type": "main","index": 0}]]},"Consumos GET": {"ai_tool": [[{"node": "AI Agent","type": "ai_tool","index": 0}]]},"When chat message received": {"main": [[{"node": "HTTP Request","type": "main","index": 0}]]},"Simple Memory": {"ai_memory": [[{"node": "AI Agent","type": "ai_memory","index": 0}]]}},"pinData": {},"meta": {"instanceId": "bce7f69a5a8408b356d6037c46d720adbefbeb77430c549c5961847e850f5a99"}}
